In [62]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile


#importing the california data
PARENT = "Predicting_House_Prices"
path = Path(PARENT).parent / "../Data/cleaned_data.csv"
data = pd.read_csv(path)
data

,Unnamed: 0,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,1,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,2,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,3,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,5,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,6,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,13784,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County
31469,13787,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County
31470,13801,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County
31471,13802,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County
31472,13803,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County

In [63]:
#removing the Unamed:0 column and the price
data2 = data.drop(columns=
    [
        "Unnamed: 0"
    ]
)
data2.sample(15)

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
26961,Listed for sale,72900.0,Vienna,GA,1900,2226.0,Acres,2,3,0,0,0,one level,0,0,0,0,SINGLE_FAMILY,Dooly County
1413,Listed for sale,749000.0,Ukiah,CA,1956,3500.0,Acres,2,3,1,0,0,others,0,0,0,0,SINGLE_FAMILY,Mendocino County
15842,Sold,675500.0,Glendale,CA,1926,1463.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Los Angeles County
1590,Price change,265000.0,San Andreas,CA,1875,1106.0,Acres,1,2,1,0,0,others,0,0,0,0,SINGLE_FAMILY,Calaveras County
24321,Listed for sale,450000.0,Carrollton,GA,1886,1480.0,Acres,1,2,0,0,0,one level,0,0,0,0,SINGLE_FAMILY,Carroll County
2374,Listed for sale,850000.0,Winnetka,CA,1964,2060.0,sqft,2,4,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Los Angeles County
741,Listing removed,1750.0,Corona,CA,1983,1138.0,sqft,3,2,1,1,1,two levels,0,0,0,0,CONDO,Riverside County
7169,Listed for sale,2395000.0,Rancho Palos Verdes,CA,1997,4396.0,Acres,5,5,0,0,0,others,0,0,0,0,SINGLE_FAMILY,Los Angeles County
29688,Listed for sale,289900.0,Rockledge,GA,1998,2626.0,sqft,2,4,1,0,1,two levels,0,0,0,0,SINGLE_FAMILY,Laurens County
24013,Listed for sale,399000.0,Decatur,GA,2015,1940.0,sqft,4,3,1,2,1,others,0,0,0,0,TOWNHOUSE,Dekalb County
26709,Price change,599000.0,Norcross,GA,1982,3479.0,Acres,3,5,1,2,1,two levels,1,0,0,0,SINGLE_FAMILY,Gwinnett County
1492,Listed for sale,1189000.0,San Diego,CA,1925,1284.0,sqft,2,3,1,0,0,one level,0,1,0,0,SINGLE_FAMILY,San Diego County
9171,Price change,519000.0,Redlands,CA,1953,1840.0,sqft,2,4,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,San Bernardino County
7927,Listed for sale,847000.0,Loomis,CA,1975,1575.0,Acres,2,3,1,0,0,others,1,1,0,0,SINGLE_FAMILY,Placer County
11922,Listed for sale,499900.0,Compton,CA,1956,1144.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Los Angeles County

In [64]:
#removing price outliers
data2 = data2[data2["price"] > 10000]
data2

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County

In [65]:
#making all city names lower case
data2["city"]= data2["city"].str.lower()
data2

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County

# Preprocessing
I will be standardizing the folowing numeric variables: livingArea, bathrooms, bedrooms, buildingArea, and garageSpaces.
While I will be one-hot encoding the categorical variables: state, county, city, event, levels, homeType, yearBuilt, and lotAreaUnits.

In [66]:
#state ohe
data3 = pd.concat([data2,pd.get_dummies(data2['state'], prefix='state')],axis=1)
data3

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county,state_CA,state_GA
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County,1,0
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County,0,1
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County,0,1
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County,0,1

In [67]:
#city ohe
data4 = pd.concat([data3,pd.get_dummies(data2['city'], prefix='city')],axis=1)
data4

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,city_yorkville,city_yosemite national park,city_young harris,city_yountville,city_yreka,city_yuba city,city_yucaipa,city_yucca valley,city_zebulon,city_zenia
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,0,0,0,0,0,0

In [68]:
#event ohe
data5 = pd.concat([data4,pd.get_dummies(data2['event'], prefix='event')],axis=1)
data5

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,city_yuba city,city_yucaipa,city_yucca valley,city_zebulon,city_zenia,event_Listed for sale,event_Listing removed,event_Pending sale,event_Price change,event_Sold
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,1,0,0,0,0
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,0,1,0,0,0,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,1,0,0,0,0
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,1,0,0,0,0
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,0,1,0,0,0,0
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,0,0,1,0
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,0,1,0,0,0,0
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,0,0,1,0
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,0,1,0,0,0,0

In [69]:
#lotAreaUnits ohe
data6 = pd.concat([data5,pd.get_dummies(data2['lotAreaUnits'], prefix='lotAreaUnits')],axis=1)
data6

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,city_yucca valley,city_zebulon,city_zenia,event_Listed for sale,event_Listing removed,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,1,0,0,0,0,0,1
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,1,0,0,0,0,1,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,1,0,0,0,0,0,1
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,1,0,0,0,0,0,1
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,1,0,0,0,0,1,0
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,1,0,1,0
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,1,0,0,0,0,1,0
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,1,0,1,0
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,1,0,0,0,0,1,0

In [70]:
#levels ohe
data7 = pd.concat([data6,pd.get_dummies(data2['levels'], prefix='levels')],axis=1)
data7

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,event_Listing removed,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,1,1,0,0,0
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,1,0,1,0,0,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,1,0,0,0,1
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,1,1,0,0,0
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,1,0,1,0,0,0
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,1,0,1,0,1,0,0,0
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,1,0,0,0,0,1
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,1,0,1,0,1,0,0,0
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,1,0,0,0,0,1

In [71]:
#homeType ohe
data8 = pd.concat([data7,pd.get_dummies(data2['homeType'], prefix='homeType')],axis=1)
data8

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,1,1,0,0,0,0,0,0,1,0
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,0,1,0,0,0,0,0,0,1,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,1,0,0,0,1,0,0,0,1,0
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,1,1,0,0,0,0,0,0,1,0
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,1,0,0,0,0,0,0,1,0
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,1,0,0,0,0,0,0,1,0
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,1,0,0,0,1,0
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,0,1,0,0,0,0,0,0,1,0
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,1,0,0,0,1,0

In [72]:
# county ohe
data9 = pd.concat([data8,pd.get_dummies(data2['county'], prefix='county')],axis=1)
data9

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,Listed for sale,675000.0,pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,649000.0,pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,599000.0,pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,575000.0,pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,888000.0,pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,254900.0,oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,350000.0,oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,379000.0,oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,337900.0,oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,0,0,0,0,0,0

In [73]:
# removing the original categorical columns
data11 = data9.drop(
    columns=[
        "state",
        "city",
        "event",
        "levels",
        "homeType",
        "lotAreaUnits",
        "county"
    ]
)
data11

,price,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,675000.0,1958,1671.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,649000.0,1959,1414.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,599000.0,1908,1336.0,2,3,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,575000.0,1958,1413.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,888000.0,2000,2278.0,3,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,100000.0,1986,1081.0,2,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,254900.0,1978,1632.0,2,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
31470,350000.0,2002,2665.0,4,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,379000.0,2000,1960.0,3,3,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
31472,337900.0,2002,2295.0,3,4,1,2,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [74]:
#subsetting for only ca data
ca_subset = data11[data11["state_CA"]==1].copy()
ca_subset

,price,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,675000.0,1958,1671.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,649000.0,1959,1414.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,599000.0,1908,1336.0,2,3,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,575000.0,1958,1413.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,888000.0,2000,2278.0,3,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23451,3360000.0,1927,0.0,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23452,1699000.0,1924,1774.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23453,1450000.0,1900,486.0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23454,1495000.0,1906,1896.0,2,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23455,2850000.0,1971,1801.0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
#extracting the prices (our ys)
y_values_CA = ca_subset["price"]
y_values_CA

0         675000.0
1         649000.0
2         599000.0
3         575000.0
4         888000.0
           ...
23451    3360000.0
23452    1699000.0
23453    1450000.0
23454    1495000.0
23455    2850000.0
Name: price, Length: 23141, dtype: float64

In [76]:
# removing the y 
ca_subset = ca_subset.drop(
    columns=[
        "price"
    ]
)
ca_subset

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,1958,1671.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1959,1414.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1908,1336.0,2,3,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1958,1413.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,2278.0,3,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23451,1927,0.0,4,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23452,1924,1774.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23453,1900,486.0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23454,1906,1896.0,2,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23455,1971,1801.0,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
#subsetting for only ga data
ga_subset = data11[data11["state_GA"]==1].copy()
ga_subset

,price,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
23456,169900.0,1985,2302.0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23457,165000.0,1971,1620.0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23458,173500.0,1980,1512.0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23459,349900.0,1999,2309.0,2,3,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
23460,129500.0,1940,1874.0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,100000.0,1986,1081.0,2,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,254900.0,1978,1632.0,2,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
31470,350000.0,2002,2665.0,4,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,379000.0,2000,1960.0,3,3,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
31472,337900.0,2002,2295.0,3,4,1,2,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [78]:
#extracting the prices (our ys)
y_values_GA = ga_subset["price"]
y_values_GA

23456    169900.0
23457    165000.0
23458    173500.0
23459    349900.0
23460    129500.0
           ...
31468    100000.0
31469    254900.0
31470    350000.0
31471    379000.0
31472    337900.0
Name: price, Length: 7986, dtype: float64

In [79]:
# removing the y 
ga_subset = ga_subset.drop(
    columns=[
        "price"
    ]
)
ga_subset

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
23456,1985,2302.0,3,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23457,1971,1620.0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23458,1980,1512.0,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23459,1999,2309.0,2,3,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23460,1940,1874.0,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,1986,1081.0,2,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,1978,1632.0,2,3,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,2002,2665.0,4,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,2000,1960.0,3,3,1,2,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
31472,2002,2295.0,3,4,1,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
from sklearn.model_selection import train_test_split

X_train_CA, X_test_CA, y_train_CA, y_test_CA = train_test_split(ca_subset, y_values_CA, test_size=0.3)
X_train_GA, X_test_GA, y_train_GA, y_test_GA = train_test_split(ga_subset, y_values_GA, test_size=0.3)

In [81]:
#combing to get data for both states
X_train_All = pd.concat([X_train_CA, X_train_GA])
X_test_All = pd.concat([X_test_CA, X_test_GA])
y_train_All = pd.concat([y_train_CA, y_train_GA])
y_test_All = pd.concat([y_test_CA, y_test_GA])

In [82]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_CA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.fit_transform(
    X_train_CA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train_CA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
16770,-0.826714,-0.010349,0.243472,0.522588,0,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1023,0.822866,-0.018776,-0.489433,-0.292440,1,0.615787,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8839,-1.902527,-0.024058,-1.222339,-0.292440,0,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8308,0.535983,0.008023,0.243472,0.522588,1,1.406348,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13712,-0.503970,-0.011501,0.243472,0.522588,1,0.615787,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22788,0.392541,0.012518,0.976378,0.522588,1,-0.965336,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
15189,1.540075,-0.002315,0.243472,0.522588,1,1.406348,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
386,-1.328760,-0.023861,-0.489433,-1.107469,1,-0.174775,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23008,0.894587,-0.019956,-0.489433,-0.292440,1,-0.174775,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9174,1.073889,0.006731,0.243472,0.522588,1,0.615787,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
# standarding the testing data from the training data
X_test_CA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.transform(
    X_test_CA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test_CA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
6509,1.109750,0.007798,0.243472,-0.292440,0,0.615787,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20401,-0.360528,-0.026361,-1.222339,-1.107469,0,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1047,-0.037784,-0.015658,0.243472,-0.292440,0,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18389,0.571843,-0.020097,-0.489433,-1.107469,1,0.615787,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10946,-0.432249,0.000551,0.243472,1.337617,1,0.615787,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,-1.579783,-0.016389,-0.489433,0.522588,0,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9060,1.073889,-0.006107,0.243472,-0.292440,0,0.615787,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13348,-1.687365,-0.009590,0.976378,0.522588,1,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372,-0.324668,-0.016066,-0.489433,-0.292440,0,-0.965336,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21574,0.464262,-0.017891,-0.489433,-0.292440,1,0.615787,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler2= StandardScaler()

X_train_GA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler2.fit_transform(
    X_train_GA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train_GA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
24187,1.230521,-0.411190,0.088911,-0.507801,1,-0.712716,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28667,-0.940911,-0.764134,-1.390290,-1.369029,1,-0.712716,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26633,-2.853068,0.242540,-0.650690,-0.507801,0,-0.712716,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27006,1.230521,-0.419798,-0.650690,-1.369029,1,0.222734,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23573,0.063781,-0.081033,0.088911,-0.507801,1,1.158184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23951,0.679560,0.616245,0.828511,1.214655,1,1.158184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31216,0.679560,3.568413,4.526513,2.937112,1,3.029084,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24517,0.063781,1.542912,2.307712,1.214655,1,1.158184,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26683,1.036064,1.616336,1.568112,0.353427,1,-0.712716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31290,-0.876092,-0.534239,-0.650690,-0.507801,1,0.222734,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
# standarding the testing data from the training data
X_test_GA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler2.transform(
    X_test_GA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test_GA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
28146,-0.260313,-0.240542,0.088911,-0.507801,1,-0.712716,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28220,1.198111,0.536744,0.088911,0.353427,0,-0.712716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25408,1.003655,-0.247631,0.828511,-0.507801,1,1.158184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24378,-0.584408,0.508894,0.088911,0.353427,1,1.158184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25668,0.549923,-0.572724,-0.650690,-0.507801,1,-0.712716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30024,-0.940911,-0.812746,-1.390290,-1.369029,0,-0.712716,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24045,-0.389951,-0.183828,-0.650690,0.353427,1,1.158184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23893,0.128600,-0.584877,0.088911,-0.507801,1,-0.712716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30825,0.809198,-0.551456,-0.650690,-1.369029,1,-0.712716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26330,0.744379,0.163546,0.088911,-0.507801,1,1.158184,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler3= StandardScaler()

X_train_All[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler3.fit_transform(
    X_train_All[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train_All

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
16770,-0.876080,-0.010497,0.203613,0.479148,0,-0.894006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1023,0.713202,-0.020270,-0.529300,-0.344171,1,0.726645,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8839,-1.912569,-0.026394,-1.262212,-0.344171,0,-0.894006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8308,0.436805,0.010807,0.203613,0.479148,1,1.536971,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13712,-0.565134,-0.011833,0.203613,0.479148,1,0.726645,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23951,0.955049,0.015466,0.936526,1.302468,1,0.726645,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31216,0.955049,0.110424,4.601089,2.949106,1,2.347297,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24517,0.298606,0.045272,2.402351,1.302468,1,0.726645,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26683,1.335095,0.047634,1.669438,0.479148,1,-0.894006,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31290,-0.703332,-0.021541,-0.529300,-0.344171,1,-0.083681,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
# standarding the testing data from the training data
X_test_All[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler3.transform(
    X_test_All[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test_All

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
6509,0.989599,0.010547,0.203613,-0.344171,0,0.726645,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20401,-0.426935,-0.029066,-1.262212,-1.167490,0,-0.894006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1047,-0.115989,-0.016654,0.203613,-0.344171,0,-0.894006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18389,0.471355,-0.021801,-0.529300,-1.167490,1,0.726645,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10946,-0.496035,0.002142,0.203613,1.302468,1,0.726645,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30024,-0.772432,-0.030499,-1.262212,-1.167490,0,-0.894006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24045,-0.185088,-0.010269,-0.529300,0.479148,1,0.726645,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23893,0.367706,-0.023169,0.203613,-0.344171,1,-0.894006,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30825,1.093248,-0.022094,-0.529300,-1.167490,1,-0.894006,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26330,1.024148,0.000904,0.203613,-0.344171,1,0.726645,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
#splitting the training data into further training and validation data for model comparison
X_train_model2, X_valid_model2, y_train_model2, y_valid_model2 = train_test_split(X_train_All, y_train_All, test_size=0.3)

In [89]:
#importing the trains, validation, and test data

#X_train
path2 = Path(PARENT).parent / "../Data"
X_train_CA.to_csv(path2/'X_train_CA.csv')
X_train_GA.to_csv(path2/'X_train_GA.csv')
X_train_All.to_csv(path2/'X_train_All.csv')

In [90]:
#X_test
path3 = Path(PARENT).parent / "../Data"
X_test_CA.to_csv(path3/'X_test_CA.csv')
X_test_GA.to_csv(path3/'X_test_GA.csv')
X_test_All.to_csv(path3/'X_test_All.csv')

In [91]:
#y_train
path4 = Path(PARENT).parent / "../Data"
y_train_CA.to_csv(path4/'y_train_CA.csv')
y_train_GA.to_csv(path4/'y_train_GA.csv')
y_train_All.to_csv(path4/'y_train_All.csv')

In [92]:
#y_test
path5 = Path(PARENT).parent / "../Data"
y_test_CA.to_csv(path5/'y_test_CA.csv')
y_test_GA.to_csv(path5/'y_test_GA.csv')
y_test_All.to_csv(path5/'y_test_All.csv')

In [93]:
#X_train_model
path6 = Path(PARENT).parent / "../Data"
X_train_model2.to_csv(path6/'X_train_model2.csv')

In [94]:
#X_valid_model
path7 = Path(PARENT).parent / "../Data"
X_valid_model2.to_csv(path7/'X_valid_model2.csv')

In [95]:
#y_train_model
path8 = Path(PARENT).parent / "../Data"
y_train_model2.to_csv(path8/'y_train_model2.csv')

In [96]:
#y_valid_model
path9 = Path(PARENT).parent / "../Data"
y_valid_model2.to_csv(path9/'y_valid_model2.csv')