### California Model
This notebook verifies the model on Georgia and California data after it was only trained on California data.

In [18]:
# Importing Packages
import pandas as pd
import numpy as np
from pathlib import Path
from lightgbm.sklearn import LGBMRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as rmse_score

# Importing data for both Georgia and California Data

In [ ]:
# Importing the California data

X_train_CA = pd.read_csv("X_train_CA.csv")
X_test_CA = pd.read_csv("X_test_CA.csv")
y_train_CA = pd.read_csv("y_train_CA.csv")
y_test_CA = pd.read_csv("y_test_CA.csv")
X_train_CA2 = pd.read_csv("X_train_CA_noGeo.csv")

In [ ]:
X_train_CA2

,Unnamed: 0,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,0,-0.826714,-0.010349,0.243472,0.522588,0,-0.965336,0,0,0,...,1,1,0,0,0,0,0,0,1,0
1,1,0.822866,-0.018776,-0.489433,-0.292440,1,0.615787,1,0,0,...,1,1,0,0,0,0,0,0,1,0
2,2,-1.902527,-0.024058,-1.222339,-0.292440,0,-0.965336,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,3,0.535983,0.008023,0.243472,0.522588,1,1.406348,1,0,1,...,1,0,0,0,1,0,0,0,1,0
4,4,-0.503970,-0.011501,0.243472,0.522588,1,0.615787,1,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16193,16193,0.392541,0.012518,0.976378,0.522588,1,-0.965336,0,1,1,...,0,0,1,0,0,0,0,0,1,0
16194,16194,1.540075,-0.002315,0.243472,0.522588,1,1.406348,1,0,0,...,1,0,0,0,1,0,0,0,1,0
16195,16195,-1.328760,-0.023861,-0.489433,-1.107469,1,-0.174775,1,0,0,...,1,1,0,0,0,0,0,0,1,0
16196,16196,0.894587,-0.019956,-0.489433,-0.292440,1,-0.174775,1,0,0,...,1,1,0,0,0,0,0,0,1,0
16197,16197,1.073889,0.006731,0.243472,0.522588,1,0.615787,1,1,1,...,1,0,0,0,1,0,0,0,1,0

In [ ]:
# Importing the Georgia data
X_train_GA = pd.read_csv("X_train_GA.csv")
X_test_GA = pd.read_csv("X_test_GA.csv")
y_train_GA = pd.read_csv("y_train_GA.csv")
y_test_GA = pd.read_csv("y_test_GA.csv")
X_train_GA_NoGeo = pd.read_csv("X_train_GA_noGeo.csv")

# Dropping Unnamed Columns  for both Georgia and California Data

In [ ]:
# Dropping unnamed column
X_train_GA = X_train_GA.drop(columns="Unnamed: 0")
X_train_GA_NoGeo = X_train_GA_NoGeo.drop(columns="Unnamed: 0")
X_test_GA = X_test_GA.drop(columns="Unnamed: 0")
y_train_GA = y_train_GA.drop(columns="Unnamed: 0")
y_test_GA = y_test_GA.drop(columns="Unnamed: 0")

X_train_CA = X_train_CA.drop(columns="Unnamed: 0")
X_train_CA_Geo = X_train_CA2.drop(columns="Unnamed: 0")
X_test_CA = X_test_CA.drop(columns="Unnamed: 0")
y_train_CA = y_train_CA.drop(columns="Unnamed: 0")
y_test_CA = y_test_CA.drop(columns="Unnamed: 0")

# Removing state, county, and city for both Georgia and California Data

In [ ]:
# Dropping all state, city, and county columns for training GA data
X_train_GA2 = X_train_GA[
    X_train_GA.columns.drop(list(X_train_GA.filter(regex="state_")))
]
X_train_GA3 = X_train_GA2[
    X_train_GA2.columns.drop(list(X_train_GA2.filter(regex="city_")))
]
X_train_GA4 = X_train_GA3[
    X_train_GA3.columns.drop(list(X_train_GA3.filter(regex="county_")))
]
X_train_GA4

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,1.230521,-0.411190,0.088911,-0.507801,1,-0.712716,0,0,0,1,...,1,0,1,0,0,0,0,0,1,0
1,-0.940911,-0.764134,-1.390290,-1.369029,1,-0.712716,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,-2.853068,0.242540,-0.650690,-0.507801,0,-0.712716,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,1.230521,-0.419798,-0.650690,-1.369029,1,0.222734,1,0,0,1,...,1,1,0,0,0,0,0,0,1,0
4,0.063781,-0.081033,0.088911,-0.507801,1,1.158184,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5585,0.679560,0.616245,0.828511,1.214655,1,1.158184,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
5586,0.679560,3.568413,4.526513,2.937112,1,3.029084,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5587,0.063781,1.542912,2.307712,1.214655,1,1.158184,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
5588,1.036064,1.616336,1.568112,0.353427,1,-0.712716,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
5589,-0.876092,-0.534239,-0.650690,-0.507801,1,0.222734,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [ ]:
# Dropping all state, city, and county columns for testing GA data
X_test_GA2 = X_test_GA[X_test_GA.columns.drop(list(X_test_GA.filter(regex="state_")))]
X_test_GA3 = X_test_GA2[X_test_GA2.columns.drop(list(X_test_GA2.filter(regex="city_")))]
X_test_GA4 = X_test_GA3[
    X_test_GA3.columns.drop(list(X_test_GA3.filter(regex="county_")))
]
X_test_GA4

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,-0.260313,-0.240542,0.088911,-0.507801,1,-0.712716,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,1.198111,0.536744,0.088911,0.353427,0,-0.712716,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,1.003655,-0.247631,0.828511,-0.507801,1,1.158184,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
3,-0.584408,0.508894,0.088911,0.353427,1,1.158184,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.549923,-0.572724,-0.650690,-0.507801,1,-0.712716,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2391,-0.940911,-0.812746,-1.390290,-1.369029,0,-0.712716,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2392,-0.389951,-0.183828,-0.650690,0.353427,1,1.158184,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2393,0.128600,-0.584877,0.088911,-0.507801,1,-0.712716,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2394,0.809198,-0.551456,-0.650690,-1.369029,1,-0.712716,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2395,0.744379,0.163546,0.088911,-0.507801,1,1.158184,1,1,1,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Dropping all state, city, and county columns training CA data
X_train_CA2 = X_train_CA[
    X_train_CA.columns.drop(list(X_train_CA.filter(regex="state_")))
]
X_train_CA3 = X_train_CA2[
    X_train_CA2.columns.drop(list(X_train_CA2.filter(regex="city_")))
]
X_train_CA4 = X_train_CA3[
    X_train_CA3.columns.drop(list(X_train_CA3.filter(regex="county_")))
]
X_train_CA4

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,-0.826714,-0.010349,0.243472,0.522588,0,-0.965336,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
1,0.822866,-0.018776,-0.489433,-0.292440,1,0.615787,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
2,-1.902527,-0.024058,-1.222339,-0.292440,0,-0.965336,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,0.535983,0.008023,0.243472,0.522588,1,1.406348,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
4,-0.503970,-0.011501,0.243472,0.522588,1,0.615787,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16193,0.392541,0.012518,0.976378,0.522588,1,-0.965336,0,1,1,0,...,0,0,1,0,0,0,0,0,1,0
16194,1.540075,-0.002315,0.243472,0.522588,1,1.406348,1,0,0,0,...,1,0,0,0,1,0,0,0,1,0
16195,-1.328760,-0.023861,-0.489433,-1.107469,1,-0.174775,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
16196,0.894587,-0.019956,-0.489433,-0.292440,1,-0.174775,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
16197,1.073889,0.006731,0.243472,0.522588,1,0.615787,1,1,1,0,...,1,0,0,0,1,0,0,0,1,0

In [ ]:
# Dropping all state, city, and county columns for testing CA data
X_test_CA2 = X_test_CA[X_test_CA.columns.drop(list(X_test_CA.filter(regex="state_")))]
X_test_CA3 = X_test_CA2[X_test_CA2.columns.drop(list(X_test_CA2.filter(regex="city_")))]
X_test_CA4 = X_test_CA3[
    X_test_CA3.columns.drop(list(X_test_CA3.filter(regex="county_")))
]
X_test_CA4

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,1.109750,0.007798,0.243472,-0.292440,0,0.615787,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,-0.360528,-0.026361,-1.222339,-1.107469,0,-0.965336,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,-0.037784,-0.015658,0.243472,-0.292440,0,-0.965336,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
3,0.571843,-0.020097,-0.489433,-1.107469,1,0.615787,1,0,0,0,...,1,0,0,0,1,0,1,0,0,0
4,-0.432249,0.000551,0.243472,1.337617,1,0.615787,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,-1.579783,-0.016389,-0.489433,0.522588,0,-0.965336,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
6939,1.073889,-0.006107,0.243472,-0.292440,0,0.615787,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
6940,-1.687365,-0.009590,0.976378,0.522588,1,-0.965336,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
6941,-0.324668,-0.016066,-0.489433,-0.292440,0,-0.965336,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
6942,0.464262,-0.017891,-0.489433,-0.292440,1,0.615787,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0

# Using the model for California only, Validating for both Georgia and California Data

In [ ]:
# This function reads in the model's pickle file
def load_obj(filename):
    try:
        with open(filename, "rb") as f:
            return pickle.load(f)
    except Exception as ex:
        print("Error:", ex)

In [ ]:
#Installing Pickle5 inorder to read the model
!pip3 install pickle5

Collecting pickle5
  Downloading pickle5-0.0.12-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (256 kB)
     |████████████████████████████████| 256 kB 5.1 MB/s
Installing collected packages: pickle5
Successfully installed pickle5-0.0.12

In [ ]:
# Reading in the California model
import pickle5 as pickle

lgbm_using_CA = load_obj("lgbm_using_CA.pickle")

In [ ]:
# Training the model on the California data
lgbm_using_CA.fit(X_train_CA4, y_train_CA)

LGBMRegressor(bagging_fraction=0.6995018170993159, boosting='DART',
              feature_fraction=0.6038881490958047,
              learning_rate=0.5053965793181281, max_depth=4,
              min_child_weight=0.013143970326221612, min_data_in_leaf=4,
              n_estimators=160, num_leaves=266, reg_alpha=0, reg_lambda=0,
              silent='warn')

In [35]:
# Testing the model on the California Data
pred11 = lgbm_using_CA.predict(X_test_CA4)
print("Root Mean Squared Error:", format(np.sqrt(rmse_score(y_test_CA, pred11))))

print("R Squared:", format(r2_score(y_test_CA, lgbm_using_CA.predict(X_test_CA4))))

Root Mean Squared Error: 1676489.6800575594
R Squared: 0.4987302202699443

In [34]:
# Testing the model on the Georgia Data

preds12 = lgbm_using_CA.predict(X_test_GA4)

print("Root Mean Squared Error:", format(np.sqrt(rmse_score(y_test_GA, preds12))))

print("R Squared:", format(r2_score(y_test_GA, lgbm_using_CA.predict(X_test_GA4))))

Root Mean Squared Error: 4545651.814888793
R Squared: -95.47208349347294

# We assumed there were baseline differences in pricing between the states since there was a large negative in R Square while testing the model on Georgia data.
As a result, we tried the following method:

Calculate the average price difference between CA and GA:


* Using the CA model as a guide,
Train using CA data, predict with GA data, and then add the mean difference to the projected price to get the "adjusted predicted price."

* Predicted price + mean price difference between the two states = adjusted predicted price

* Using the updated anticipated price, calculate r2 and RMSE.

In [19]:
# Getting mean price difference between the two states
adjusted = y_train_CA["price"].mean() - y_train_GA["price"].mean()
adjusted

826945.3253442142

In [31]:
# Adjusted predicted price
new_GA_test = y_test_GA + adjusted

In [32]:
new_GA_test

             price
0     1.001945e+06
1     1.721945e+06
2     1.231945e+06
3     1.456845e+06
4     9.868453e+05
...            ...
2391  8.769443e+05
2392  1.118645e+06
2393  3.174260e+06
2394  1.114445e+06
2395  1.175945e+06

[2396 rows x 1 columns]

In [33]:
# Testing the model on the Georgia Data

preds13 = lgbm_using_CA.predict(X_test_GA4)
print("Root Mean Squared Error:", format(np.sqrt(rmse_score(new_GA_test, preds13))))
print("R Squared:", format(r2_score(new_GA_test, lgbm_using_CA.predict(X_test_GA4))))

Root Mean Squared Error: 4062330.267015916
R Squared: -76.04771822026059